* {
  box-sizing: border-box;
}

body{
   margin:0px;
   padding:0px;
   background-color: #D3D3D3;
 }

 #overall-container {
   position: relative;
   height: 100vh;
 }

.main-container{
  background-color: #D3D3D3;
  /*height: 100%;*/
  /*width: 100%;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

.top-container{
  /*height: 150px;*/
  /*width:95%;*/
  background-color: white;
  order: 1;
  padding: 20px;
  margin-bottom: 30px;
}

p {
  margin-top: 0;
}

.button-holder{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 25px;
  }

.red-button{
  height: 40px;
  width: 95px;
  background-color: red;
  order: 1;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  color: white;
  margin-right: 15px;
}

.blue-button{
  height: 40px;
  width: 95px;
  background-color: blue;
  order: 2;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  color: white;
}

.middle-divider{
  height: 30px;
  width: 100%;
  background-color: #D3D3D3;
  order: 2;
}

.bottom-container{
  height: 350px;
  /*width: 95%;*/
  background-color: white;
  order: 3;
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
}

.image-holder{
  height: 200px;
  background-color: black;
  color: white;
  order: 1;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  margin-bottom: 20px;
  }

.bottom-container-text{
  order: 2;
}

.bottom-footer{
  height: 50px;
  width: 100%;
  background-color: black;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
  position: absolute;
  bottom: 0;
}

.footer-text{
  color: white;
  /*padding-top:12px;*/
  margin: 10px;
}
